<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

</body>

</html>
<script>
  let arrList = [
    { id: 1, parent: null, text: '菜单1' },
    { id: 11, parent: 1, text: '菜单1-1' },
    { id: 12, parent: 1, text: '菜单1-2' },
    { id: 2, parent: null, text: '菜单2' },
    { id: 21, parent: 2, text: '菜单2-1' },
  ]
  function eatchList (arrList, id, list) {
    for (let item of arrList) {
      if (item.parent == id) {
        list.push(item)
      }
    }
    for (let i of list) {
      i.children = []
      eatchList(arrList, i.id, i.children)
    }
    console.log(list);
  }
  eatchList(arrList, null, [])
</script>